.my-button {
  -fx-background-color: #00C4FF9E; /* Red background color */
  -fx-text-fill: black; /* White text color */
  /*-fx-font-size: 14px; !* Font size *!*/
  -fx-border-radius: 10px;
  -fx-background-radius: 50px;
  -fx-pref-width: 140px;
  -fx-pref-height: 35px;
  -fx-font-size: 18px;
  -fx-font-family: "Arial Rounded MT Bold";
  /*margin: 4px 2px;*/
  /*cursor: pointer;*/
}
.title {
  /*-fx-background-color: #00C4FF9E; !* Red background color *!*/
  /*-fx-text-fill: black; !* White text color *!*/
  /*-fx-font-size: 14px; !* Font size *!*/
  /*-fx-border-radius: 10px;*/
  /*-fx-background-radius: 50px;*/
  /*-fx-pref-width: 140px;*/
  /*-fx-pref-height: 35px;*/
  -fx-font-size: 50px;
  -fx-font-family: "Lucida Bright";
  /*margin: 4px 2px;*/
  /*cursor: pointer;*/
}
.err {
  /*-fx-background-color: #00C4FF9E; !* Red background color *!*/
  /*-fx-text-fill: black; !* White text color *!*/
  /*-fx-font-size: 14px; !* Font size *!*/
  /*-fx-border-radius: 10px;*/
  /*-fx-background-radius: 50px;*/
  /*-fx-pref-width: 140px;*/
  /*-fx-pref-height: 35px;*/
  -fx-font-size: 13px;
  -fx-font-family: "system-ui";
  /*margin: 4px 2px;*/
  /*cursor: pointer;*/
}

Button {
  -fx-background-color: #00C4FF9E; /* Red background color */
  -fx-text-fill: black; /* White text color */
  /*-fx-font-size: 14px; !* Font size *!*/
  -fx-border-radius: 10px;
  -fx-background-radius: 50px;
  -fx-pref-width: 110px;
  -fx-pref-height: 35px;
  -fx-font-size: 19px;
  -fx-font-family: "Arial Rounded MT Bold";
  /*margin: 4px 2px;*/
  /*cursor: pointer;*/
}
Label {
  -fx-font-size: 25px;
  -fx-font-family: "Cooper Black";
}
.my-label {
  -fx-font-size: 2px;
  -fx-font-family: "Cooper Black";
}
/*MapView {*/
/*  -fx-font-family: "Cooper Black";*/
/*  -fx-font-size: 1px;*/
/*}*/
ListView {
  -fx-background-color: #ffffff; /* Light background */
  -fx-border-color: #e0e0e0; /* Light grey border */
  -fx-border-width:  1px; /* Slight border for separation */
  -fx-padding:  10px; /* Padding inside the ListView */
}.list-cell {
   -fx-background-color: #ffffff; /* Light background for cells */
   -fx-border-color: #e0e0e0; /* Light grey border for cells */
   -fx-border-width:  1px; /* Slight border for separation */
   -fx-padding:  5px; /* Padding inside each cell */
   -fx-text-fill: #333333; /* Dark text for readability */
 }

/* Style for selected cells */
.list-cell:selected {
  -fx-background-color: #f0f0f0; /* Slightly darker background for selected cells */
}