.container {
    height: 100%; /* Hauteur du rectangle */
    width: 100%; /* Largeur du rectangle égale à la largeur du conteneur parent */
    background-image: linear-gradient(to bottom left, #5ee1e5a6, #5ee1e500); /* Dégradé linéaire */
    border: none; /* Pas de bord */
}
.image
{
    fitHeight:"100%" ;
    fitWidth:"100%";
    pickOnBounds:"true" ;
    preserveRatio:"true";
}