.search-box{
    -fx-background-color:#FFFFFF;
    -fx-background-radius: 100;
}

.transparent{
    -fx-background-color: rgba(0,0,0,0);
}

.search-button{
    -fx-background-color: #828282;
    -fx-background-radius: 30;
}

.right-bar{
    -fx-background-color: #D3D3D3;
}

.shadow{
    -fx-effect: dropShadow(three-pass-box,rgba(0,0,0,0.1), 10.0 , 0.0 , 0.0 ,10.0);
}

.chosen-fruit-card{
    -fx-background-color: #F16C31;
    -fx-background-radius: 30;
}

.comboBox{
    -fx-background-color: rgba(255,255,255,0.3);
    -fx-background-radius: 30;
}

.add-btn{
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 100;
}

.free-delivery-card{
    -fx-background-color: #D3D3D3;
    -fx-background-radius: 30;
}

.shopping-online-card{
    -fx-background-color: #BAEAC3;
    -fx-background-radius: 30;
}

.fruit-item{
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 30;
}
/* Style du texte en gras */
.menu-item {
    -fx-font-size: 14px;

}

/* Style pour rendre le menu invisible */
.menu-bar {
    -fx-background-color: transparent;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

/* Style pour rendre les items de menu transparents */
.menu-item {
    -fx-background-color: transparent;

}

/* Style pour rendre le texte des items de menu en blanc */
.menu-item .label {
    -fx-text-fill: #000000;
}
.action-button {
    -fx-background-color: #4CAF50; /* couleur verte */
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-border-radius: 5px;
    -fx-padding: 5px 10px;
}

.action-button:hover {
    -fx-background-color: #45a049; /* couleur verte légèrement plus foncée au survol */
}

.action-button:pressed {
    -fx-background-color: #367c3e; /* couleur verte encore plus foncée lorsqu'appuyé */
}
/* StyleShopping.css */

.insert-photo-button {
    -fx-background-color: #2196F3; /* couleur bleue */
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-border-radius: 5px;
    -fx-padding: 5px 10px;
}

.insert-photo-button:hover {
    -fx-background-color: #1976D2; /* couleur bleue légèrement plus foncée au survol */
}

.insert-photo-button:pressed {
    -fx-background-color: #0D47A1; /* couleur bleue encore plus foncée lorsqu'appuyé */
}
.title-label {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

.info-label {
    -fx-font-size: 14px;
}

.combo-box {
    -fx-font-size: 14px;
}

.action-button {
    -fx-font-size: 14px;
    -fx-background-color: #4CAF50; /* Green */
    -fx-text-fill: white;
    -fx-padding: 10px 20px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.action-button:hover {
    -fx-background-color: #45a049; /* Darker Green */
}
/* Style pour les meilleurs articles */
.best-article {
    -fx-background-color: #f0f0f0; /* Couleur de fond différente pour les meilleurs articles */
    -fx-border-color: #ffa500; /* Couleur de bordure différente pour les meilleurs articles */
}
/* styles.css */
.card {
    -fx-background-color: #ffffff;
    -fx-border-color: rgb(37,33,33);
    -fx-border-width: 1px;
    -fx-border-radius: 2px;
    -fx-padding: 12px;
}

.card.favorite {
    -fx-background-color: #ffff2e;
}
.combo-box {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}


